.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.headerHeadline {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.headerButtonsContainer {
  display: flex;
  gap: 1rem;
}

.headerButton {
  color: black;
  border-color: black;
}

.themeIcon {
  color: black;
}
